@model IEnumerable<Models.Article>

@foreach (var item in Model) {    
    <article class="article large">
        <h3 class="title">@Html.ActionLink(@item.Title, "Details", "Article", new { id = @item.Id }, null)</h3>
        <section class="meta">
            <time pubdate="pubdate" datetime="@item.CreatedDate.ToString("yyyy-MM-dd")">@item.CreatedDate</time>
        </section>
        <section class="description">
            @Html.Raw(HttpUtility.HtmlDecode(item.Description))
        </section>
        <figure>
            <img src="http://lorempixel.com/g/200/200/" alt="@item.Title" />
            <figcaption>@item.Title</figcaption>
        </figure>
    </article>
}