@model ICollection<global::Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                List of available Articles
            </div>
            <div id="role-list" class="panel-body">
                <table style="width:100%" id="articles" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Creationdate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model)
                        {
                            <tr data-id="article-@article.Id">
                               <td>@Html.ActionLink(@article.Title, "Edit", new { id= article.Id })</td>
                               <td>@article.Description</td>
                               <td>@article.CreatedDate</td>
                               <td>
                                    @Html.ActionLink("Edit", "Edit", new { id= article.Id }) |
                                    @Html.ActionLink("Publish", "Publish", new { id = article.Id })
                                    @Html.ActionLink("Delete", "Delete", new { id = article.Id}, new {@class="delete-link"})
                               </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>  
    </section>
</div>
<div id="delete-dialog" title="Confirmation">
    <p>Are you sure you want to delete this Article?</p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/admin/article.js")
    <script>
        var deleteLinkObj;   
        (function () {
            $('.delete-link').click(function () {
                deleteLinkObj = $(this);  //for future use
                $('#delete-dialog').dialog('open');
                return false; // prevents the default behaviour
            });
            $('#delete-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                buttons: {
                    "Delete": function () {
                        $.post(deleteLinkObj[0].href, function (data) {  //Post to action

                            if (data.state == true) {
                                var dataRow = $('#articles tr[data-id="article-' + data.id + '"]');
                                $(dataRow).effect('highlight', {}, 500, function () {
                                    $(this).fadeOut('fast', function () {
                                        $(this).remove();
                                    });
                                });
                            }
                            else {
                                //(optional) Display Error
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        })();
    </script>
}